<div class="footer">
<i class="fa-solid fa-gear fa-lg list-item-footer" ></i>
<i class="fa-solid fa-magnifying-glass fa-lg list-item-footer"></i>
<i class="fa-regular fa-message fa-lg list-item-footer"></i>
</div>
