<div class="footer">

<i class="fa-solid fa-house"></i>
<%= link_to search_path do %>
<i class="fa-solid fa-magnifying-glass fa-lg list-item-footer"></i>
<% end %>
<%= link_to new_event_path do %>
<i class="fa-solid fa-plus"></i>
<% end %>
</div>
