<div class="header-show">
  <h1 style="flex: 1;text-align: center;"><%=link_to ".DANCE", events_path%></h1>
  <%= link_to dashboard_path do %><i class="fa-regular fa-user"  style="text-align: left;"></i>
  <% end %>
</div>
