<div class="show-grid mt-2">
  <div class="card-primary">
    <div class="card-primary__corners">
      <div id="user_events">
        <ul>
          <h1>Agenda</h1>
          <% @user.attendees.each do |attendee| %>
            <p>
              <%= attendee.event.title %>,
              <%= attendee.event.date %>,
              <%= attendee.event.address %>,
            </p>
            <%= link_to "TO THREADS", event_posts_path(attendee.event) %>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  <div class="show-info-dashboard">
    <div class="card-primary mb-2">

      <div class="card-primary__corners"></div>
      <div id="user_events">
          <h6>Event 1</h6>
          <p>Sven Marquardt</p>
          <p>Am Wriezener bhf</p>
          <p>10243 Berlin</p>
      </div>
    </div>
  <div class="card-primary">
    <div class="card-primary__corners"></div>
    <div id="user_events">
      <h6>Preferences</h6>
      <p>Intense</p>
      <p>Techno</p>
      <p>No tourists</p>
    </div>
  </div>
  <div class="card-primary mt-2">
    <div class="card-primary__corners"></div>
    <div id="user_events">
      <h6>Favourites</h6>
      <p>Berghain</p>
      <p>Saule</p>
      <p>Panorama</p>
      <p>Klubnacht</p>
    </div>
  </div>
</div>
</div>

<div class="dashboard-grid__recommendations mt-2">
   <div class="card-primary mb-2">
      <div class="card-primary__corners"></div>
      <div id="user_events">
        <h6>Event 2</h6>
          <p>Club name</p>
          <p>Event name</p>
          <p>Date</p>
      </div>
    </div>
      <div class="card-primary mb-2">
        <div class="card-primary__corners"></div>
            <h6>Event 2</h6>
            <p>Club name</p>
            <p>Event name</p>
            <p>Date</p>
        </div>
      <div class="card-primary mb-2">
        <div class="card-primary__corners"></div>
          <div id="user_events">
            <h6>Event 3</h6>
            <p>Club name</p>
            <p>Event name</p>
            <p>Date</p>
          </div>
        </div>
      </div>
