
<div>
  <div class="glass-card">
    <div class="glass-card-corners">
      <div class="card-container">
        <div class="card-header">
          <h1>When life gives you oranges</h1>
        </div>
        <div class="card-content">
          <p>Make lemonade.</p>
        </div>
        <div class="card-footer">
          <div class="footer-item calendar">

            <p><i class="fa fa-calendar"></i> August 29</p>
          </div>
          <div class="footer-item users">
            <p class="icon-button"> <i class="fa-regular fa-user"></i></p>
            <p><span class="number">123</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%# <a href="/topics" class="button-primary button-primary--dark page-home__bottom-action"
    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
    <div class="button-primary__corners"></div>
    <div class="button-primary__borders"></div>
    <div class="button-primary__content">
      <div class="button-primary__label text-cta">Explore topics</div>
    </div>
  </a>
</div> %>
