.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background: white;
  border: 3px solid #D5F34C;
  border-radius: 0px;
  font-family: 'Anonymous pro', monospace;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}
