  .alert {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 1000;
    border: 3px solid #D5F34C;
    border-radius: 0px;
    font-family: 'Anonymous pro', monospace;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
    background-repeat: none;
    color: white;
}
