.body-test {
  background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
  background-repeat: none;
  min-height: 100vh;
  padding: 7vh 1vw 7vh 1vw;
  color: white;

  a {
    text-decoration: none;
  }
}
