
.button-primary {
  color: #fff;
  height: 40px;
  outline: none;
  padding: 10px;
  position: relative;
  justify-content: center;
  width: 100%;
  margin: 1vh 0vh;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  a {
    color: white;
    text-decoration: none;
    font-family: 'Anonymous pro', monospace !important;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    text-align: right;
    justify-content: center;
    display: inline-block;

    &:hover, &:focus {
      color: #D5F34C;
    }
  }
}

.button-primary:before {
  background-color: #fff;
  margin: 300px;
  content: "";
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  transition: background-color .3s cubic-bezier(.25,.46,.45,.94);
  z-index: -1;
}

.button-primary__corners {
  background: linear-gradient(90deg,#fff 1px,transparent 0) 0 0,
  linear-gradient(180deg,#fff 1px,transparent 0) 0 0,
  linear-gradient(270deg,#fff 1px,transparent 0) 100% 0,
  linear-gradient(180deg,#fff 1px,transparent 0) 100% 0,
  linear-gradient(270deg,#fff 1px,transparent 0) 100% 100%,
  linear-gradient(0deg,#fff 1px,transparent 0) 100% 100%,
  linear-gradient(90deg,#fff 1px,transparent 0) 0 100%,
  linear-gradient(0deg,#fff 1px,transparent 0) 0 100%;
  background-repeat: no-repeat;
  background-size: 3px 3px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;

}

.button-primary:after, .button-primary__corners {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
