.dashboard-grid__recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h6 {
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
}

.card-dashboard__corners {
  background: linear-gradient(90deg,#fff 1px,transparent 0) 0 0,
  linear-gradient(180deg,#fff 1px,transparent 0) 0 0,
  linear-gradient(270deg,#fff 1px,transparent 0) 100% 0,
  linear-gradient(180deg,#fff 1px,transparent 0) 100% 0,
  linear-gradient(270deg,#fff 1px,transparent 0) 100% 100%,
  linear-gradient(0deg,#fff 1px,transparent 0) 100% 100%,
  linear-gradient(90deg,#fff 1px,transparent 0) 0 100%,
  linear-gradient(0deg,#fff 1px,transparent 0) 0 100%;
  background-repeat: no-repeat;
  background-size: 3px 3px
}

.card-dashboard:after, .card-dashbord__corners {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
