  .footer {
    padding: 45px;
    border-top: 3 #D5F34C;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: auto;
    background: transparent;
  }
