.footer {
  border-top: 3px solid #D5F34C;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  z-index: 2;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 7vh;
  left: 0;
  z-index: 12;
  padding-bottom: 8px;
}
