
.show-grid {
  display:grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
  width: 100%;
}

.dashboard-grid__recommendations {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;

}
