.swal2-container.swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  border: 3px solid #D5F34C;
  background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
  color: white;
}




.swal2-styled.swal2-confirm{
  background-color: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);;
  font-size: 15px !important;
  border-radius: 0 !important;
  font-family: 'Anonymous pro', monospace !important;
  background: transparent  !important;
  color: white !important;
  border: 5px solid #D5F34C !important;
  height: 45px;

  a {
    text-transform: uppercase !important;
    color: white !important;
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    font-family: 'Anonymous pro', monospace !important;
  }
}


.swal2-styled.swal2-cancel {
  background-color: #d5f34c !important;
  height: 45px;
  font-size: 15px !important;
  border-radius: 0 !important;
  font-family: 'Anonymous pro', monospace !important;
  a {
    text-transform: uppercase !important;
    color: rgba(23,0,64,1) !important;
    font-family: 'Anonymous pro', monospace !important;
  }
}
.swal2-popup {
  width: 70vw !important;
  border-radius: 0 !important;
  padding: 0 0 0 !important;
  border: 3px solid #D5F34C;
  border-radius: 0px;
  font-family: 'Anonymous pro', monospace;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
  background-repeat: none;
  color: white;
}

.swal2-html-container {
 text-align: left !important;
 margin: 1em 1em 0.3em !important;
}

.swal2-title {
  color: white !important;
  text-align: left !important;
  text-transform: uppercase !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px !important;
}

a {
  font-family: 'Poppins', sans-serif !important;
}

.swal2-actions {
  margin: 0 !important;
}
