// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --light-bg-color: silver;
  --light-text-color: white;
  --dark-bg-color: black;
  --dark-text-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-text-color);
      background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
      background-repeat: none;
      padding: 7vh 3vw 7vh 3vw;
      min-height: 100vh;
      color: white;
  }

  body.light {
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }

  body.dark {
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
}
