@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --light-bg-color: white;
  --light-text-color: black;
  --dark-bg-color: black;
  --dark-text-color: white;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
      color: var(--dark-text-color);
      background: linear-gradient(270deg, rgba(31,0,71,1) 0%, rgba(23,0,64,1) 32%, rgba(0,0,0,1) 100%);
      background-repeat: none;
      padding: 6vh 2vh 2vw;
      min-height: 100vh;
  }

  body.light {
    background: white;
    color: black;
  }

  .link:hover {
    color: #D5F34C;
  }

  .card-content.light {
    color: white  ;
  }
}

@media (prefers-color-scheme: light) {
  body {
      background: white;
      padding: 6vh 2vh 2vw;
      color:  black;
  }

  body.dark {
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
}
